  .ContactForm {
      margin-bottom: 280px;
  }

  .buttoncv {
     background-color: #6a686d !important;
     border-color: #000000;
     color: #fff;
     padding-bottom: 50%;
      margin-top: 100px;
  }

  .contactext {
         font-family: monospace;
         margin-top: 0;
         margin-bottom: 4rem;
        font-size: 25px;
  }