.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 0.2fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 50px;
}

a {
    color: white;
}
