.card {
  background-color: transparent rgba(255, 255, 255, 0.822) !important;
  
     opacity: 0.9 !important;
     text-align: center;
     border: 1px solid rgba(0, 0, 0, .125);
     border-radius: .25rem;
    }

  
    .card:hover {
        transform: scale(1.02) !important;
        overflow: hidden !important;
        box-shadow: 0 6px 6px 6px rgba(129, 72, 144, 0.561) !important;
         
    }



.wrapper {
    display: grid;
    margin-bottom: 200px;
}

.card-img-top {
    width: 50%;
    align-self: center;
    border-radius: 10px !important;
}

.text {
    color: black;

}

.title {
    color: black;
    font-weight: bold;
    text-align: center;
}

.button {
 align-self: center;
   
}

.btn-primary {
     background-color: #d392329c;
     border-color: #050505;
    

}
