body {
  margin: 0;
  font-family: "Courier New",
  "Courier", "monospace";
  color: aliceblue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: white;
  background-color: rgb(126, 23, 40);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
